@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --background: #02343F;
  --foreground: #F0EDCC;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fbfbfb;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Inter", sans-serif;

  padding: 0rem;
}

h1{
  font-size: xxx-large;
  font-weight: bold;

}

h2{
  font-size: x-large;
  font-weight: bold;
}

h4{
  font-size: medium;
  font-weight: normal;

}

p{
  font-size: small;
  font-weight: normal;
}